body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }

*, *:before, *:after {
 box-sizing: ; 
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  bottom: 20px;
  right: 20px;

 

}

.container2 {
 
   vertical-align: middle;
   text-align: center;
vertical-align: middle;

}
.container4 {

   vertical-align: middle;
    bottom: 10px;
position:absolute;bottom:0;
 padding: 0 16px;

}

.container2::after, .row::after {
  content: "";
  clear: both;
  display: table;



}
.container3 {
 
   object-fit: cover; 
  object-position: 50%;

}
.title {
  color: grey;
}

.button-espacios {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px 0px 8px 0px;
    margin: 3px 0px 3px 0px;
  color: white;
  background-color: #007BFF;
  text-align: center;
  cursor: pointer;
  width: 100%;

}
.button-espacios2 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px 0px 8px 0px;

  color: white;
  background-color: #007BFF;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button-espacios:hover {
  background-color: #0062cc;
}
.button-espacios2:hover {
  background-color: #0062cc;
}
.btn.btn-custom-lg,
.btn.btn-custom-sm,
.btn.btn-custom-xs {
  border-radius: 0;
  border-color: #007BFF;
  background-color: #007BFF;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
  color: white;
}
.btn.btn-custom-lg:hover {
  background-color: #0062cc;
}
.btn.btn-custom-sm:hover {
  background-color: #0062cc;
}
.btn.btn-custom-xs:hover {
  background-color: #0062cc;
}

  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  .h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;

  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;

  }  
 .h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
 

  }  
  h6 {
      font-size: 50px;
      line-height: 1.375em;
      color: #fff;
      font-weight: 600;
      margin-bottom: 30px;

  }  
  .jumbotron {
      background-color: #F8F9FA;
      color: #fff;
      padding: 200px 0px;
      font-family: Montserrat, sans-serif;
      background-image: url(img/bg-masthead.jpg);
      background-position: 0% 25%;
      background-size: cover;
      background-repeat: no-repeat;
      font-size: 20px;
  }
  .container-fluid {
      padding: 60px 50px;
  }
  .container-link {
      padding: 60px 50px;

  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .logo-small {
      color: #007BFF;
      font-size: 50px;
  }
  .logo {
      color: #007BFF;
      font-size: 200px;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #007BFF;
  }
  .carousel-indicators li {
      border-color: #007BFF;
  }
  .carousel-indicators li.active {
      background-color: #007BFF;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin-top: -25px;
 
  }
  .item span {
      font-style: normal;
  }
  .panel {
      border: 1px solid #007BFF; 
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      border: 1px solid #007BFF;
      background-color: #fff !important;
      color: #007BFF;
  }
  .panel-heading {
      color: #fff !important;
      background-color: #007BFF !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-footer {
      background-color: white !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: #007BFF;
      color: #fff;
  }
  .navbar {
      margin-bottom: 0;
      background-color: #F8F9FA;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      font-weight: bold;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #000 !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #fff !important;
      background-color: #007BFF !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #007BFF;
  }
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }

  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }

a.button2{
 display:inline-block;
 padding:0.5em 3em;
 border:0.16em solid #FFFFFF;
 margin:0 0.3em 0.3em 0;
 box-sizing: border-box;
 text-decoration:none;
 text-transform:uppercase;
 font-family:'Roboto',sans-serif;
 font-weight:400;
 color:#FFFFFF;
 text-align:center;
 transition: all 0.15s;
}
a.button2:hover{
 color:#DDDDDD;
 border-color:#DDDDDD;
}
a.button2:active{
 color:#BBBBBB;
 border-color:#BBBBBB;
}
@media all and (max-width:30em){
 a.button2{
  display:block;
  margin:0.4em auto;
 }
}